---
const BASE_URL = import.meta.env.BASE_URL;

export interface BaseHeadProps {
    title?: string;
    overrideTitle?: boolean;
    description?: string;
    coverImage?: string | ImageMetadata;
}

const props : BaseHeadProps = Astro.props as BaseHeadProps;

const overrideTitle = props.overrideTitle ?? false;
const title = overrideTitle ? props.title : (props.title ? `${props.title} | FuseTim's Blog` : "FuseTim's Blog");
const coverImage = props.coverImage
    ? typeof props.coverImage === "string"
        ? props.coverImage
        : props.coverImage.src
    : undefined;
---

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="application/svg" href={`${BASE_URL}favicon.svg`}>
    <link rel="sitemap" href={`${BASE_URL}sitemap-index.xml`} />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    { props.description && <meta name="description" content={props.description} /> }

    <!-- Canonical URL of the page -->
    <link rel="canonical" href={`${Astro.site}${Astro.url.pathname}`} />

    <!-- Open Graph meta tags -->
    <meta property="og:title" content={title} />
    { props.description && <meta property="og:description" content={props.description} /> }
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${Astro.site}${Astro.url.pathname}`} />
    { coverImage && <meta property="og:image" content={coverImage} /> }
</head>